
<div>
  <select  name="ticketType"  (click)='SelectedTicketType1($event)' value = "0" ngModel>
    <option value="0">None</option>
    <option *ngFor="let ln of allTicketTypes" value={{ln.Id}} >{{ln.Name}}</option>
  </select>
</div>

<div>
  <label>Cena bez popusta: </label>
  <label>{{price}}</label><br/>
  <label>Popust: </label>
  <label>{{discount}}</label><br/>
  <label>Cena sa popustom:</label>
  <label>{{priceWDiscount}}</label><br/>
</div>
<div *ngIf="boolZaOtvaranjeForme">
<form  #ticketBuyForm="ngForm" (ngSubmit)="submitEmail(ticketBuyForm.value, ticketBuyForm)">

<div >
    <label>Used email address for purchase : {{korisceniEmail}}</label>
    <label>Fill field if you want your ticket to get on another email???????????</label>

    <label for="email">New email address:</label>
    <input required type="email" class="form-control" name="Email" placeholder="Email" [(ngModel)]="EmailForPay">
    
    <button  type="submit" class="button" >Submit email address</button>
    
</div>



</form>

</div>

<!-- <div *ngIf="prikaziButtonK">
    <button type="submit" class="button" (click)="BuyTicket()" >Buy a ticket</button>
    
    
    
  </div> -->
  <div >
      <br/>
      <br/>
      <br/>
    <label *ngIf="prikaziButtonK">Do you want to pay right away?aaa</label>
    <ngx-paypal  [config]="payPalConfig"></ngx-paypal>
  </div>