 <div *ngFor="let item of stati">
    {{item.Name}}, {{item.Id}}
  
  </div> 
<div>
  <label for="action">Choose action:</label>
  <input class="form-check-input" required type="radio" value="Add"  (click)="setradio('Add')" class="form-control" name="Action"  ngModel>Add
  <input required type="radio" value="Change" class="form-control" (click)="setradio('Change')" name="Action"  ngModel> Change
  <input required type="radio" value="Remove" class="form-control" (click)="setradio('Remove')" name="Action"  ngModel> Remove
</div> 

<div style="width:50%; height: 50%; margin: 5% 25%">
  <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18" (mapClick)="placeMarker1($event)">  
    <agm-marker  *ngFor="let stat of stati" [latitude]="stat.Latitude" [longitude]="stat.Longitude" [title]="stat.Name" [label]="" [iconUrl]="iconPath"
    [markerDraggable]="isSelected('Change')"
      (dragEnd)="markerDragEnd($event,stat.Name,stat.Id)"
      (markerClick) = "stationClick(stat.Id)">
      <agm-info-window [latitude]="stat.Latitude" [longitude]="stat.Longitude" >

        <!-- U info-window stavljamo html -->
        <span style="font-size: 16px;font-family:'Times New Roman'">{{stat.Name}}</span>
        <br/>
        
        <span style="font-family:'Times New Roman'; color:gray;">{{stat.Address}}</span>
        
      </agm-info-window>
    
    </agm-marker>
  </agm-map>
  </div>


<form #stationForm="ngForm" (ngSubmit)="onSubmit(stationForm.value, stationForm)">

  <div class="form-group">
    <label for="Name">Station name:</label>
    <input required type="text" class="form-control" name="Name" placeholder="Station name" value={{name}} ngModel>

  </div>
  <div class="form-group">
    <label for="Address">Station address</label>
    <input required type="text" class="form-control" name="Address" placeholder="Station address" value={{address}} ngModel>
  </div>
  <div class="form-group">
    <label for="Longitude">Longitude</label>
    <input required type="number" class="form-control" name="Longitude" placeholder="Longitude"  value={{coordinates.longitude}} ngModel>
  </div>
  <div class="form-group">
    <label for="Latitude">Latitude</label>
    <input required type="number" class="form-control" name="Latitude" placeholder="Latitude"  value={{coordinates.latitude}} ngModel >
  </div>

<button type="submit" class="button" *ngIf="isSelected('Add')">Add</button>
<button type="submit" class="button" *ngIf="isSelected('Change')">Change</button>
<button type="submit" class="button" *ngIf="isSelected('Remove')">Remove</button>
</form>