<div>
    <label for="action">Choose action:</label>
    <input  required type="radio" value="Add"  (click)="setradio('Add')"  name="Action"  ngModel>Add
    <input required type="radio" value="Remove"  (click)="setradio('Remove')" name="Action"  ngModel> Remove
  </div> 
  

<form #stationForm="ngForm" (ngSubmit)="onSubmit(stationForm.value, stationForm)">

    <div class="form-group">
      <label for="Type">Vehicle type:</label>
      <select class="form-control" name="Type" [value]="Bus" ngModel>
          <option  value="Bus" >Bus</option>
          <option value="Trolley car">Trolley car</option>
          <option value="Train">Train</option>
          <option value="Subway train">Subway train</option>
        </select>
      <!-- <input required type="text" class="form-control" name="Type" placeholder="Vehicle type"  ngModel> -->
  
    </div>
   
  <button type="submit" class="button" *ngIf="isSelected('Add')">Add</button>
  <button type="submit" class="button" *ngIf="isSelected('Remove')">Remove</button>
  </form>