<div class="container">
  <h1>Registration</h1>
  <form #registrationForm="ngForm" (ngSubmit)="Button1(registrationForm.value, registrationForm)">
    <div class="form-group">
      <label for="role">Role</label>
      <input class="form-check-input" required type="radio" value="User"  (click)="setradio('User')" class="form-control" name="Role"  ngModel>User
      <input required type="radio" value="Controller" class="form-control" (click)="setradio('Controller')" name="Role"  ngModel> Controller
      <input required type="radio" value="Admin" class="form-control" (click)="setradio('Admin')" name="Role"  ngModel> Admin
    </div>  
    <!-- <div class='form-group' *ngIf="isSelected('User')">
      <select for class='form-control' name= "PassengerType" [value]='Regular' ngModel>
        <option value='Regular'>Regular</option>
        <option value='Student'>Student</option>
        <option value='Retiree'>Retiree</option>
      </select>
    </div> -->
    <div *ngIf="isSelected('User')">
      <h4>Type</h4>
      
      <select class="form-control" name="PassengerType" ngModel>
          <option *ngFor="let type of types" value="{{type.Name}}">{{type.Name}}</option>
        </select>
      
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input required type="email" class="form-control" name="Email" placeholder="Email" ngModel>

      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" name="Name" placeholder="Name" ngModel>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input required type="text" class="form-control" name="Surname" placeholder="Surname" ngModel>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input required type="text" class="form-control" name="Address" placeholder="Address" ngModel>
      </div>
     

      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input required type="date" class="form-control" name="Birthday" placeholder="dd/mm/yyyy" ngModel>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" class="form-control" name="Password" placeholder="Password" ngModel>
      </div>

     

      <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input required type="password" class="form-control" name="ConfirmPassword" placeholder="Password" ngModel>
        </div>

        <div class="form-group" *ngIf="isSelected('User')">
       
          <input type="file" (change)="onFileSelected($event)">  
          <button type="button" class="button" (click)="onUpload()">Upload</button>
       
        </div>
      <button type="submit" class="button" >Register</button>
    </form>
</div>
